* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

header {
  background: 
    linear-gradient(rgba(10, 61, 98, 0.8), rgba(10, 61, 98, 0.8)),
    url("images/capa.jpg") center/cover no-repeat;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  margin: 15px 0;
}

.btn {
  display: inline-block;
  background: white;
  color: #0a3d62;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #0a3d62;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

.projeto {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-left: 5px solid #38ada9;
}

footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 15px;
}
